body {
    color: white;
    background-image: url("/public/assets/img/burger.jpg");
    background-size: cover;
}

#leftDiv {
    float: left;
    width: 50%;
    background: black;
    
}

#rightDiv {
    float: right;
    width: 50%;
    background: black;
}

#firstDiv {
    width: 100%;
}